@model User

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="tr">
<head>
	<title>Giriş Yap</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/login/css/style.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4"><b>Giriş Yap</b></h3>
						<form asp-action="Login">

							<label for="username">Email</label>
							<input class="form-control rounded-left" type="email" placeholder="Email" id="username" name="email">

							<label for="password">Şifre</label>
							<input class="form-control rounded-left" type="password" placeholder="Şifre" id="password" name="password">

							<button class="form-control btn btn-primary rounded submit px-3 mt-3" type="submit">Giriş Yap</button>
							<br />
							<a href="/Accounts/Register">Bir hesabın yok mu? Hemen üye ol</a>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/login/js/jquery.min.js"></script>
	<script src="~/login/js/popper.js"></script>
	<script src="~/login/js/bootstrap.min.js"></script>
	<script src="~/login/js/main.js"></script>

</body>
</html>



