@{
	ViewData["Title"] = "Contact";
}
@model Contact
<h1>Bize Ulaşın</h1>
<hr />
<!doctype html>
<html lang="tr">
<head>
	<title>İletişim Formu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/contact/css/style.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">İletişim Formu</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters mb-5">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Mail Gönder</h3>
									<div id="form-message-warning" class="mb-4"></div>
									<div id="form-message-success" class="mb-4">
										Mesajınız Başarıyla Gönderildi. Teşekkürler
									</div>
									<form asp-action="Contact" class="contactForm">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" asp-for="Name">Ad ve Soyad</label>
													<input type="text" class="form-control" asp-for="Name" placeholder="Adınız ve Soyadınız">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" asp-for="Email">Email Adres</label>
													<input type="email" class="form-control" asp-for="Email"  placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" asp-for="Title">Konu</label>
													<input type="text" class="form-control" asp-for="Title"  placeholder="Konu">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" asp-for="Message">Mesaj</label>
													<textarea asp-for="Message" class="form-control"  cols="30" rows="4" placeholder="Mesaj"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<button type="submit" value="Mesajı Gönder" class="btn btn-primary">Gönder</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div id="map">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48219.43704057233!2d29.155543550000004!3d40.94391705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4336e39827f%3A0x608e0ae971e8ddc2!2sMaltepe%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1697052221983!5m2!1str!2str" width="600" height="593" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-map-marker"></span>
									</div>
									<div class="text">
										<p><span>Adres:</span> Maltepe - İstanbul</p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-phone"></span>
									</div>
									<div class="text">
										<p><span>Telefon:</span> <a href="tel://1234567920">530 333 4444</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-paper-plane"></span>
									</div>
									<div class="text">
										<p><span>Email:</span> <a href="mailto:info@otoservis.com">info@motoclub.com</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-globe"></span>
									</div>
									<div class="text">
										<p><span>Website</span> <a href="#">nonreal.motoclub.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/contact/js/jquery.min.js"></script>
	<script src="~/contact/js/popper.js"></script>
	<script src="~/contact/js/bootstrap.min.js"></script>
	<script src="~/contact/js/jquery.validate.min.js"></script>
	<script src="~/contact/js/google-map.js"></script>
	<script src="~/contact/js/main.js"></script>

</body>
</html>




